APP_CONFIG__JWT__SECRET_KEY=sercretkey
APP_CONFIG__JWT__ALGORITHM=HS256

APP_CONFIG__DB__URL=postgresql+asyncpg://admin:password@localhost:5432/database
APP_CONFIG__DB__ECHO=0
APP_CONFIG__DB__ECHO_POOL=0
APP_CONFIG__DB__POOL_SIZE=50
APP_CONFIG__DB__MAX_OVERFLOW=10
APP_CONFIG__DB__MODE=DEV

APP_CONFIG__REDIS__HOST=localhost
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__REDIS__DB=0

APP_CONFIG__EVENT_BUS__BROKER_URL=amqp://guest:guest@localhost:5672//
APP_CONFIG__EVENT_BUS__OUTBOX_POLL_INTERVAL_SECONDS=1
APP_CONFIG__EVENT_BUS__OUTBOX_BATCH_SIZE=50

APP_CONFIG__CLICKHOUSE__HOST=localhost
APP_CONFIG__CLICKHOUSE__PORT=8123
APP_CONFIG__CLICKHOUSE__USERNAME=default
APP_CONFIG__CLICKHOUSE__PASSWORD=password
APP_CONFIG__CLICKHOUSE__DATABASE=default
APP_CONFIG__CLICKHOUSE__SECURE=0

APP_CONFIG__FILE_STORAGE__PROVIDER=local
APP_CONFIG__FILE_STORAGE__MAX_FILE_SIZE_MB=5
APP_CONFIG__FILE_STORAGE__LOCAL_BASE_DIR=client_files
APP_CONFIG__FILE_STORAGE__LOCAL_URL_PREFIX=/client_files
# APP_CONFIG__FILE_STORAGE__PROVIDER=s3
# APP_CONFIG__FILE_STORAGE__S3_BUCKET_NAME=general-project
# APP_CONFIG__FILE_STORAGE__S3_REGION_NAME=eu-central-1
# APP_CONFIG__FILE_STORAGE__S3_ENDPOINT_URL=
# APP_CONFIG__FILE_STORAGE__S3_ACCESS_KEY_ID=
# APP_CONFIG__FILE_STORAGE__S3_SECRET_ACCESS_KEY=
# APP_CONFIG__FILE_STORAGE__S3_PUBLIC_BASE_URL=
# APP_CONFIG__FILE_STORAGE__S3_KEY_PREFIX=

APP_CONFIG__SMTP__USER=mailpit@example.com
APP_CONFIG__SMTP__PASSWORD=password
APP_CONFIG__SMTP__HOST=localhost
APP_CONFIG__SMTP__PORT=1025
APP_CONFIG__SMTP__USE_TLS=0
APP_CONFIG__SMTP__USE_SSL=0
